$tiempoTransicion: 0.4s;

$colorEfectos: #29AAE1;
$colorAzul: #112B3C;
$colorArena: #E0D8B0;
$colorNegro: #000000;

$fuenteTitulos: 'Nunito Sans', sans-serif;
$fuenteNav: 'Barlow Semi Condensed', sans-serif;
